body{
    color: #ffffff;
}
header{
    border:1xp solid green:
}

body{
    background-image: url(images/4217-fond-papier-peint-WallFizz.jpg);
    background-size:cover;
}
header li{text-align: center;
    display: inline-block;
width: 33%;
}
header a{ 
     color: #ffffff;
}

p img{ margin-left: 700PX
 }

main h1{ margin-left: 700PX
 }


.mgn-200{
    margin-top:200px;
}
.mgn-50{
    margin-top: 50px;
}